<section class="top-description">
    <p class="main-image">
        <a class="link"
           target="_blank"
           href="https://sylviasucker.com/">

            <img src="https://studio.clips4sale.com/accounts150/69445/images/c4s_header_banner_2016_04_02_resized.jpg">
        </a>
    </p>

    <h1 class="main-title">
        WELCOME TO MY STUDIO - SYLVIA CHRYSTALL <br>
        THE GODDESS OF ORAL LOVE
    </h1>

    <h2>
        Looking for Mistress Sylvia smoking? Try my other clip store:
    </h2>
    <h1>
      {{>store (get 'stores.sdt')}}
    </h1>

    <p></p>

    <h2>
        Looking for Sylvia Chrystall crushing &amp; trampling cars?
        Try my other clip store:
    </h2>
    <h1>
      {{>store (get 'stores.cmh')}}
    </h1>

    <p></p>

    <h2>
        Want to commission a custom fetish or hardcore video? Email:
    </h2>
    <h1>
        {{>email (get 'email')}}
    </h1>
    <h2>
        for a price quote.
    </h2>

    <p></p>

    <h1>Popular Categories:</h1>

    <p class="categories categories-top"></p>
    <p class="categories categories-bottom"></p>
    <p class="categories categories-back"></p>

    <p></p>

    <p class="tribute-buttons">
        {{#foreach (get 'tributes')}}
          {{> tribute}}
        {{/foreach}}
    </p>
</section>
